.Side {
    max-width: 300px;
    border: 1px solid rgba(2, 1, 66, 0.1);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 100;
    /* font-style: normal; */
    grid-row: 1 / span 2;
    grid-column: 1 / span 1;
    width: 50vw;
    height: 32vh;
    color: rgb(41, 44, 75);
    background-color: rgb(205, 209, 226);
    text-align: left;
    /* position: fixed; */
}
.s{
    font-weight: 600;
    max-width: 400px;
    border: 10px solid rgba(22, 21, 66, 0.1);
    text-align: left;
}